.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* border: 3px solid orangered; */
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.card-container{
    background-color: cadetblue;
}
@media screen and (max-width:720px){
    .products-container{
        grid-template-columns: repeat(2 , 1fr);
    }
}